@import '_content/Tadbeer.DAL/Tadbeer.DAL.t5ii2etl8a.bundle.scp.css';

/* _content/Tadbeer.BLL/Component1.razor.rz.scp.css */
.my-component[b-g11ym3vzso] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
